<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ibcs.cs_ia_serviceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CustomerSingleRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.ChatActivity" /> <!-- https://github.com/firebase/quickstart-android/blob/d307afe958a672bebdf3394c10017cc671c027e2/messaging/app/src/main/AndroidManifest.xml#L48-L52 -->
        <service android:name=".utils.FirebaseNotificationMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.RequestListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProviderSingleRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.SendRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ChooseAuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>